<!doctype html>
<html>
  <head>
  	<link href='http://fonts.googleapis.com/css?family=New+Rocker' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="animate.min.css">
  	<title>Is today a Jewish holiday?</title>
     <link href="/styles.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>

  	

      <%= yield %>
    </div>
    
  </body>
</html>